<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="../static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>FAQ</title>
    <style>
        body {
            background-color:#f4f4f4;
        }
        .FAQ {
            font-size: 20px;
        }
        h2 {
            padding-left: 35%;
            font-size: 30px;

        }
        .head {
            width: 100% ;
            height: 100px;

            background-color: grey;
        }
    </style>
</head>
<body>
<div class="head">
    <h2>
        Часто задаваемые вопросы
    </h2>
    <div class="head-button">
        <a href="/" class="btn btn btn-primary"
           style="width: 120px;height: 30px;background-color:blue;padding-left: auto;margin-left: 40%">Инфо </a>
        </div>
</div>
<div class="FAQ";>

                <p>
                В:что такое направления?

                </p>
            <p> О: Направления - это показатели вашей вовлеченности в какой-либо аспект вашей жизни
            </p>
            <p>
                В:Как начать использование вашего продукта?
            </p>
            <p>
                О: Вам нужно зайти на главную страницу, со страницы информации, на которой вы в данный момент находитесь, нажмите на кнопку "Начать использование" и вы окажетесь на странице, откуда можно начать использование нашего продукта
            </p>
            <p>
                В: Что делать если я не могу вспомнить все свои дела и их длительность за день
            </p>
            <p>
                О: Мы предлагаем вам либо чаще заносить данные на наш сайт, так вы их точно не забудете, или вы можете начать записывать свои дела в ежедневник.
            </p>
    </div>
</body>