<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="../static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Информация</title>
    <style>
        .head {
            width: 100%;
            background-color: lightslategrey;
            height: 100px;
            padding: 10px;
        }

        .head-button {
            width: 140px;
            float: left;
        }
        .head-button2 {
            width: 140px;
            float: right;
        }
        .row {
            padding: 5px;
        }

        body {
            background-color: slategray;
            min-width: 1400px;
        }
        .wrap {
            height: auto;
            background-color: darkgray;


        }
        img {
            height: 200px;
            width: 200px;
        }
        h1 {
            text-align: center;
        }
        .left_column {
            float: left;
            width: 50%;
            overflow: hidden;
        }
        .right_column{
            overflow: hidden;

        }
        p{
            font-size: 28px;
        }
        p.text1{
            margin-bottom: 40px;
        }
    </style>
</head>
    <body>
    <div class="head">
        <div class="head-button">
        <a href="user_main" class="btn btn btn-primary"
           style="width: 120px;height: 60px;background-color:blue;padding: 2px;">Начать использование </a>
        </div>

        <div class="head-button3">
        <a href="FAQ" class="btn btn btn-primary"
           style="width: 100px;height: 60px;background-color:blue;padding: 15px; float: left;  ">FAQ </a>
        </div>

         <img src="../static/logo.png" alt=""
        style="height:80px;width: 200px; margin-left: 35%;  ">

        <div class="head-button2">
        <a href="/login" class="btn btn btn-primary"
           style="background-color: blue;padding: 2px;"> Войти/зарегистрироваться </a>
        </div>
    </div>
    <h1><em>
        Pesonal Development
    </em></h1>
    <div class="wrap">
        <div class="Description";>
            <h2>
                Помощь на пути к твоей цели
            </h2>
            <p class="text1">
                Суть этого сервиса заключается в побуждении клиента к саморазвитию. Определив основные и приоритетные направления на своем жизненном пути, вы сможете легко следовать им. Сервис специализируется на разработке индивидуальных планов и контроль по достижению и поддержанию уровня. Вы легко сможете уделять необходимое и достаточное время на то что вам важно: семья, друзья, карьера, хобби, развлечения и любое другое направление.
            </p>
        </div>
         <div class="Middle_part";>
             <div class=" left_column">
                <h2 >
                    Берите от жизни всё
                </h2>
                     <img alt="" src="../static/rozavetrov.png">
                 <p class="text">
                     Сервис предоставляет вам инструменты и методики для перехода к сбалансированному и полноценному режиму жизни. После нескольких шагов вы сможете вести успешную и сбалансированную жизнь.
                 </p>
             </div>
             <div class= right_column>
                <h2>
                    Примите вызов, который вам бросает время
                </h2>
                    <img src="../static/clocks.jpg">
				<p class="text">
				Нас всегда поджидают сюрпризы, и они бывают не только приятными. Не все ситуации удается предугадать, поэтому нужно уметь держать себя в руках и адекватно реагировать на обстоятельства. Динамическое изменение поможет сохранить тот уровень, который вы для себя определили.
				</p>
            </div>
        </div>
    </div>

    <h4 style="margin-left: 45%">
        © Екатеринбург 2019
    </h4>
</body>

