<!DOCTYPE html>
<html>

<head>
  <title>Регистрация</title>
  <link href='../static/style.css' rel='stylesheet' type='text/css'>
</head>

<body>
	<form method='post' class='reg-form' action='signup'>

		<div class='form-row'>
			<label for='form_login'>Логин: </label>
    		<input type='text' id='form_login' name='login'>
  		</div>

  		<div class='form-row'>
    		<label for='form_fname'>Имя: </label>
    		<input type='text' id='form_fname' name='first_name'>
		</div>

		<div class='form-row'>
			<label for='form_sname'>Фамилия: </label>
			<input type='text' id='form_sname' name='second_name'>
		</div>

		<div class='form-row'>
			<label for='form_password'>Пароль: </label>
			<input type='text' id='form_password' name='password'>
		</div>

		<div class='form-row'>
			<label for='form_password_repeat'>Повторите пароль: </label>
			<input type='text' id='form_password_repeat' name='password_repeat'>
		</div>

		<div class="form-row">
			<input type="submit" value='Зарегистрироваться'>
		</div>

	</form>

</body>

</html>