<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	<link rel="stylesheet" href="main.css">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="../static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Главная страница</title>
    <style>
        body {
            background-color: #f4f4f4;
            min-width: 1400px;
        }
        h1{
            margin-left: 35%;
        }
        .head {
            width: 100%;
            background-color: lightslategrey;
            height: 80px;
            padding: 10px;
        }
        .card1{
            margin-bottom: 5%;
            float: left;
            width: 30%;
        }
        .card2 {
            float: right;

        }
        .card3{
            width: 30%;
            float: left;
        }

        .card4 {
            float: right;
        }
        .card5 {
            margin-left: 40%;
        }



    </style>
    </head>
    <body>
        <h1> Главная страница пользователя </h1>
        <a href="/radar_example">Radar example</a>
        <a href="/statistics">Статистика</a>
        <a href="/add">Заполнение</a>
        <a href="/logout">Выйти</a>

    </body>
</html>