<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	<link rel="stylesheet" href="main.css">
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="../static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Главная страница</title>
    <style>
        body {
            background-color: #f4f4f4;
            min-width: 1400px;
        }
        h1{
            margin-left: 35%;
        }
        .head {
            width: 100%;
            background-color: lightslategrey;
            height: 80px;
            padding: 10px;
        }
        .card1{
            margin-bottom: 5%;
            float: left;
            width: 30%;
        }
        .card2 {
            float: right;

        }
        .card3{
            width: 30%;
            float: left;
        }

        .card4 {
            float: right;
        }
        .card5 {
            margin-left: 40%;
        }



    </style>
    </head>
    <body>
        <div class="head">
            <h1> Главная страница пользователя </h1>
        </div>
        <div class="card1" style="width: 18rem;">
        <img class="card-img-top" src="../static/Example.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> Radar Example </h5>
             <p class="card-text">Пример направлений </p>
            <a href="/radar_example" class="btn btn btn-primary">Перейти</a>
        </div>
        </div>

        <div class="card2" style="width: 18rem;">
        <img class="card-img-top" src="../static/Statistic.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Статистика</h5>
            <p class="card-text">Посмотреть свою статистику.</p>
            <a href="/statistics" class="btn btn btn-primary">Перейти</a>
        </div>
        </div>

        <div class="card3" style="width: 18rem;">
        <img class="card-img-top" src="../static/add.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Создать направление</h5>
            <p class="card-text">Создать направления для себя.</p>
            <a href="/create_directions" class="btn btn btn-primary">Перейти</a>
        </div>
        </div>
        <div class="card4" style="width: 18rem;">
         <img class="card-img-top" src="../static/logout.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Выйти</h5>
             <p class="card-text">Выйти из своего аккаунта.</p>
            <a href="/logout" class="btn btn btn-primary">Перейти</a>
        </div>
        </div>
        <div class="card5" style="width: 18rem;">
         <img class="card-img-top" src="../static/Calendar.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Добавить информацию</h5>
             <p class="card-text">Добавить информацию о вашей деятельности по времени.</p>
            <a href="/add_data" class="btn btn btn-primary">Перейти</a>
        </div>
    </body>
